<!DOCTYPE html>
<html ng-app='App'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Hello Github Pages</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="FirstCtrl">

    <div class="title-color">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-7 title-left">
                        YOUR AWESOME TITLE
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-4 title-right">
                                <a href="#portfolio">PORTFOLIO</a>
                            </div>
                            <div class="col-lg-4 title-right">
                                <a href="#about">ABOUT</a>
                            </div>
                            <div class="col-lg-4 title-right">
                                CONTACT
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-color">
        <div class="row">
            <div class="col-lg-12 middle-circle-up">
                <div class="middle-circle"><img src="images/yuka.png" style="width: 254px;"></div>
            </div>
            <div class="col-lg-12 middle-first">design for LIFE</div>
            <div class="col-lg-12 middle-second">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 middle-img"><img src="images/star-line.png" style="width: 400px;"></div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
            <div class="col-lg-12 middle-third">Web Developer - User Experience Designer</div>
        </div>
    </div>
    <div class="portfolio-color" id="portfolio">
        <div class="row">
            <div class="row portfolio-font">
                <div class="col-lg-12 portfolio-first">PORTFOLIO</div>
                <div class="col-lg-12 portfolio-img"><img src="images/star-line.png" style="width: 400px;"></div>
            </div>
            <div class="col-lg-12">
                <div class="row padding">
                    <div class="col-lg-4 height" ng-click="openanta()">
                        <div class="portfolio-square1"></div>
                        <img src="images/search.png" class="search_photo">
                        <img src="images/anta.png" class="anta_photo">
                    </div>
                    <div class="col-lg-4 height">
                        <div class="portfolio-square2"></div>
                        <img src="images/search.png" class="search_photo">
                        <img src="images/mozila.png" class="anta_photo">
                    </div>
                    <div class="col-lg-4 height">
                        <div class="portfolio-square3"></div>
                        <img src="images/search.png" class="search_photo">
                        <img src="images/sharp.png" class="anta_photo">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row padding">
                    <div class="col-lg-4">
                        <div class="portfolio-square4"></div>
                        <img src="images/search.png" class="search_photo">
                        <img src="images/nokia.png" class="anta_photo">
                    </div>
                    <div class="col-lg-4">
                        <div class="portfolio-square5"></div>
                        <img src="images/search.png" class="search_photo">
                        <img src="images/breakfast.png" class="anta_photo">
                    </div>
                    <div class="col-lg-4">
                        <div class="portfolio-square6"></div>
                        <img src="images/search.png" class="search_photo">
                        <img src="images/pinterest.png" class="anta_photo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-color" id="about">
        <div class="row">
            <div class="about-font">
                <div class="col-lg-12 portfolio-first">ABOUT</div>
                <div class="col-lg-12 portfolio-img"><img src="images/star-line.png" style="width: 400px;"></div>
            </div>
            <div class="col-lg-12 about-me">
                <h1 class="about-font"> I had always been incredibly interested in people - how they think, how they</h1>
                <h1 class="about-font"> feel, why they do the things they do. So much so, I decide to major in Mass</h1>
                <h1 class="about-font"> communication and studied an elective course on visual design, graphic design</h1>
                <h1 class="about-font"> to enhance my computer skills and knowledge and learn how to design programs.</h1>
                <h1 class="about-font"> I always prepare myself for the digital-era and be able to apply my interest</h1>
                <h1 class="about-font"> and specialty to the workplace. </h1>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 about-right">
                                <h1 class="about-font">&nbsp</h1>
                                <h1 class="about-font">2015/12~2017/06 </h1>
                                <h1 class="about-font">&nbsp</h1>
                                <h1 class="about-font">&nbsp</h1>
                                <h1 class="about-font">&nbsp</h1>
                                <h1 class="about-font">2013/09 ~ 2015/03</h1>
                                <h1 class="about-font">&nbsp</h1>
                                <h1 class="about-font">&nbsp</h1>
                                <h1 class="about-font">&nbsp</h1>
                                <h1 class="about-font">&nbsp</h1>
                                <h1 class="about-font">2012/05 ~ 2012/10</h1>
                                <h1 class="about-font"></h1>
                            </div>
                            <div class="col-lg-6 ">
                                <h1 class="about-font">工作經歷</h1>
                                <h1 class="about-font">富智康國際股份有限公司 雲端應用</h1>
                                <h1 class="about-font">擔任軟體工程師,ANTA智慧鞋網站、Nokia內部系統、Sharp雲端服務開發</h1>
                                <h1 class="about-font">擔任後端工程人員與設計師之橋樑，將project標準化與製作文件 </h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font">Yahoo專案助理/國立交通大學傳播所</h1>
                                <h1 class="about-font">負責Yahoo奇摩新聞網站/行動首頁新聞/超級商城app之使用性測試</h1>
                                <h1 class="about-font">網頁、app介面設計分析與改善</h1>
                                <h1 class="about-font">使用者經驗之質性、量化資料分析</h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font">研究助理／中央研究院</h1>
                                <h1 class="about-font">文物數位化後設資料之建置</h1>
                                <h1 class="about-font">數位典藏創新加值模式分析</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                         <div class="row">
                            <div class="col-lg-6">
                                <h1 class="about-font">技能專長</h1>
                                <h1 class="about-font">擅長工具： HTML、jQuery、JavaScript、Adobe Photoshop、Illustrator</h1>
                                <h1 class="about-font">證照資格：TOEIC（665）/HTML5, CSS3, jQuery, Bootstrap _台灣大學資訊系統訓練班/Programming Mobile Applications for Android Handheld Systems_Coursera</h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                            </div>
                            <div class="col-lg-6">
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                                <h1 class="about-font"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 305px">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>


</body>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="js/controllers.js"></script>

<script type="text/ng-template" id="myModalContent.html">
    <div style="height: 305px">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>
</script>



</html>
