<!DOCTYPE html>
<html ng-app='App'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Hello Github Pages</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

    <link href="styles/mystyles.css" rel="stylesheet">

</head>

<body ng-controller="FirstCtrl">

    <div class="title-color">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-9 title-left">
                    Hello I'm YUKA
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3 title-menu">
                    <div class="row">
                        MENU
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 title-list">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 title-right">
                            <a href="#portfolio">PORTFOLIO</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 title-right">
                            <a href="#about">ABOUT</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 title-right">
                            <a href="#contact">CONTACT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="middle-color">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12  middle-circle-up">
                    <div class="middle-circle"><img src="images/yuka.png"></div>
                </div>
                <div class="col-lg-12 middle-first">design for LIFE</div>
                <div class="col-lg-12 middle-second">
                    <div class="middle-img"><img src="images/star-line.png"></div>
                </div>
                <div class="col-lg-12 middle-third">Web Developer - User Experience Designer</div>
            </div>
        </div>
    </div>


    <div class="portfolio-color" id="portfolio">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 portfolio-first">PORTFOLIO</div>
                <div class="col-lg-12 portfolio-img">
                    <div class="middle-img"><img src="images/star-line.png"></div>
                </div>

                <div class="col-lg-12 col-md-12 padding">
                    <!-- 這個改好了-->
                    <div class="col-lg-4 col-md-4 height portfolio-square1" ng-click="openanta()">
                        <img src="images/search.png" class="search_photo">
                        <img src="images/anta.png" class="anta_photo">
                        <!--                        <div>Web/Dev</div>-->
                    </div>

                    <div class="col-lg-4 col-md-4 height portfolio-square2" ng-click="openmozila()">
                        <img src="images/search.png" class="search_photo">
                        <img src="images/mozila.png" class="anta_photo">
                    </div>
                    <div class="col-lg-4 col-md-4 height portfolio-square3" ng-click="opensharp()">
                        <img src="images/search.png" class="search_photo">
                        <img src="images/sharp.png" class="anta_photo">
                    </div>
                </div>


                <div class="col-lg-12 col-md-12 padding">
                    <div class="col-lg-4 col-md-4 height portfolio-square4 " ng-click="opennokia()">
                        <img src="images/search.png" class="search_photo">
                        <img src="images/nokia.png" class="anta_photo">
                    </div>
                    <div class="col-lg-4 col-md-4 height portfolio-square5" ng-click="openbreakfast()">
                        <img src="images/search.png" class="search_photo">
                        <img src="images/breakfast.png" class="anta_photo">
                    </div>
                    <div class="col-lg-4 col-md-4 height portfolio-square6" ng-click="openpinterest()">
                        <img src="images/search.png" class="search_photo">
                        <img src="images/pinterest.png" class="anta_photo">
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="about-color" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="about-font">
                    <div class="col-lg-12 portfolio-first">ABOUT</div>
                    <div class="col-lg-12 portfolio-img">
                        <div class="middle-img"><img src="images/star-line.png"></div>
                    </div>
                    <p class="about-p">I had always been incredibly interested in people - how they think, how they feel, why they do the things they do. So much so, I decide to major in Mass communication and studied an elective course on visual design, graphic design to enhance my computer skills and knowledge and learn how to design programs.I always prepare myself for the digital-era and be able to apply my interest and specialty to the workplace.</p>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <caption>工作經歷</caption>
                        <thead>
                            <tr>
                                <th>年份</th>
                                <th>職位</th>
                                <th>擅長工具</th>
                                <th>證照資格</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2015/12~2017/06 <br>軟體工程師/富智康國際股份有限公司<br>雲端應用二部</td>
                                <td>*擔任軟體工程師,ANTA智慧鞋網站、Nokia內部系統、Sharp雲端服務開發<br>*擔任後端工程人員與設計師之橋樑，將project標準化與製作文件</td>
                                <td>HTML、jQuery、JavaScript、Adobe Photoshop、Illustrator、Sketch</td>
                                <td>TOEIC（665）/HTML5, CSS3, jQuery<br>brBootstrap _台灣大學資訊系統訓練班<br>Programming Mobile Applications for Android Handheld Systems_Coursera</td>

                            </tr>
                            <tr>
                                <td>2013/09 ~ 2015/03<br>Yahoo專案使用者經驗助理/國立交通大學認知心理實驗室</td>
                                <td>*負責Yahoo奇摩新聞網站/行動首頁新聞之使用性測試<br>*使用者經驗之質性、量化資料分析</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2012/05 ~ 2012/10<br>研究助理/中央研究院</td>
                                <td>*文物數位化後設資料之建置<br>*數位典藏創新加值模式分析</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <caption>Conference</caption>
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2015/08 Tseng,Yu-Chia; Tao, Chen-Chao List or grid? Eye movement assessment of the influence of the presentation format on decision making during Web searching,Paper presented at the Conference of European Conference on Eye Movements, Vienna, Austria.(碩士畢業論文)</td>
                            </tr>
                            <tr>
                                <td>2015/05 曾由佳〈Pinterest 社交媒體介面、使用性評估〉,「2015 年中華民國設計學會設計研討會」論文。台灣,雲林。</td>
                            </tr>
                            <tr>
                                <td>2014/05 曾由佳〈圖像風格與語意一致性對場景知覺之眼動研究〉,「2014年中華民國設計學會設計研討會」論文。台灣,台北。</td>
                            </tr>
                                                        <tr>
                                <td>2013/11 曾由佳〈行動搜尋世代降臨:關鍵字廣告之行動廣告效果〉,「2013 台灣資訊社會研究學會研討會」論文。台灣,新竹。</td>
                            </tr>
                                                        <tr>
                                <td>2013/07 曾由佳〈愛在監控年代-兩性在 facebook 上的嫉妒與關係滿意度研究〉, 「2013年中華傳播學會」論文。台灣,台北。</td>
                            </tr>
                                                        <tr>
                                <td>2013/05 曾由佳〈圖像再現形式對眼球運動與場景知覺之影響〉,「2013 造型設計教育國際學術研討會 」論文。台灣,台北。</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="" id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="">
                    <div class="col-lg-12">Copyright © Tseng Yu-Chia 2017 jayljill@gmail.com</div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="moreinfo" ng-if="tobyShow">123</div>-->

</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="js/controllers.js"></script>

<script type="text/ng-template" id="myModalContent1.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="http://running.anta.com/login"><img src="images/viewproject.png" style="width: 200px;"></a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="myModalContent2.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="myModalContent3.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
                <div>
                    <a href="https://cloud.sharpmobile.com.cn/"><img src="images/viewproject.png" style="width: 200px;"></a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="myModalContent4.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="myModalContent5.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
                <div>
                    <a href="https://invis.io/4JD0N66M6#/248217907_Redesign_Mobile_Interfacedesign"><img src="images/viewproject.png" style="width: 200px;"></a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="myModalContent6.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
    </div>
</script>

</html>
