<!DOCTYPE html>
<html ng-app='App'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Hello Github Pages</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href="styles/mystyles.css" rel="stylesheet">
</head>

<body ng-controller="FirstCtrl">
    <div class="title-color">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-9 title-left">
                    Hello I'm YUKA
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3 title-menu">
                    <div class="row">
                        MENU
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 title-list">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 title-right">
                            <a href="index.html">PORTFOLIO</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 title-right">
                            <a href="#about">ABOUT</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 title-right">
                            <a href="#contact">CONTACT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main" style="padding-top: 0px;">
        <section id="secondSection">
            <div class="container twelve">
                <div class="contentWrapper_portfolio">
                    <img class="portfolioImgOverview" src="images/Showtime_main.png" alt="The Hauge Peace App" />
                    <div class="portfolioDes">
                        <div class="column contentLeft responsive-paddingRight20">
                            <div class="contentBox">
                                <div class="contentH3">Overview</div>
                                <p>
                                    Zenbo ShowTime is a tool with a tablet app that aims at assisting customer to control Zenbo and host a perfect show using zenbo’s speech and movement.Customer also can use ShowTime to make Zenbo interacting with audience in a real time during a show.
                                </p>
                                <p>
                                    As robots in B2B markets such as retail, tourism, healthcare is growing,ASUS launched a B2B Plan that can meet the customers' needs. ShowTime was part of the B2B Plan（demo on 2018 Computex） and it’s goal was to help enterprise handle the welcoming of guests with an exciting experience, enterprise can spend less effort to introduce their products while attracts visitors. Also, building a robot show with incredible fun.
                                </p>
                            </div>
                        </div>
                        <!--end of contentLeft-->
                        <div class="column contentRight">
                            <div class="contentBox">
                                <div class="contentH3">Time</div>
                                <p>03/2018-08/2018</p>
                            </div>
                            <div class="contentBox">
                                <div class="contentH3">Role</div>
                                <p>Design concept
                                    <br/>UX flow & wireframe design
                                    <br/>User testing
                                    <br/>Project management</p>
                            </div>
                            <div class="contentBox">
                                <div class="contentH3">Link</div>
                                <p><a href="https://zenbo.asus.com/commercial/ZenboShowtime_v1.0.20180730.apk" target="_blank">Android app</a>
                                    <br/>
                                    <!-- <a href="https://play.google.com/store/apps/details?id=net.sharewire.museon" target="_blank">Android app</a> -->
                                    <!-- <br/> -->
                            </div>
                        </div>
                        <!--end of contentRight-->
                    </div>
                    <!--end of portfolioDes_peaceapp-->
                    <div class="clear"></div>
                    <div class="divider">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                        <div class="dot3"></div>
                    </div>
                </div>
                <!--end of contentWrapper_portfolio-->
                <div class="contentWrapper_portfolio">
                    <div class="contentH3">Design process</div>
                    <p>Since ShowTime was a brand new product in 2B markets, we needed to create it’s design process meanwhile to fit Sales PM’s business strategy. Also needed to understand the Robot technology such like how Robot Framework supports multiple connections to different hosts and controls Robot’s body using Blockly (an open-source programming language) .So how to bring the user’s need into consideration from the business objectives and technical requirement was a challenge in this project.
                    </p>
                    <p>We began the project by cooperate with Sales PM’ team to find the target audience and gathered their needs.We also conducted a competitive analysis with products related to our user group such as UBTECH Robt,TTRobotix and others to understand the scope of existing solutions.
                    </p>
                    <p>After that,we use storyboard to create the user scenario which can help us to understand and reason about the requirements of the user interface.And meanwhile listed the design requirements as feature components on the information architecture (IA) to form the backbone of our app.
                    </p>
                    <!-- <div class="marginTop30 marginBottom30">
                        <img class="portfolioImg" src="images/showtime_wireframe.png" alt="The Hauge Peace App" />
                    </div> -->
                </div>
                <!--end of contentWrapper_portfolio-->
                <div class="contentWrapper_portfolio">
                    <div class="contentH3">Interaction design</div>
                    <p>We use information architecture to summarize the key features of the product:</p>
                    <ul>
                        <li>
                            <p><span>Control:</span>the tool can control Zenbo’s body including speech,movement and face.</p>
                        </li>
                        <li>
                            <p><span>Script editor:</span> users can create a Robot script on here,which need to create a file (series of robot’s movement) by the App builder first.</p>
                        </li>
                        <li>
                            <p><span>Group:</span> Hurdrns Zenbos can easily be controled,make them the same action or dance.
                            </p>
                        </li>
                    </ul>
                    <p>And then based on the key features, the wireframe screens and clickable prototypes were made with Sketch and InVision respectively. It went through two rounds of iteration with internal and external testing.</p>
                    <div class="marginTop30 marginBottom30">
                        <div class="portfolioImgCaption"><img class="portfolioImg" src="images/showtime_flow1.png" alt="BittyCasting" />
                        </div>
                    </div>
                    <div class="marginTop30 marginBottom30">
                        <div class="portfolioImgCaption"><img class="portfolioImg" src="images/showtime_flow2.png" alt="BittyCasting" />
                        </div>
                    </div>
                    <div class="marginTop30 marginBottom30">
                        <div class="portfolioImgCaption"><img class="portfolioImg" src="images/showtime_wireframe.png" alt="BittyCasting" />
                        </div>
                    </div>
                    <div class="marginTop30 marginBottom30">
                        <div class="portfolioImgCaption"><img class="portfolioImg" src="images/showtime01.png" alt="BittyCasting" />
                        </div>
                    </div>
                    <div class="marginTop30 marginBottom30">
                        <div class="portfolioImgCaption"><img class="portfolioImg" src="images/showtime02.png" alt="BittyCasting" />
                        </div>
                    </div>
                    <div class="marginTop30 marginBottom30">
                        <div class="portfolioImgCaption"><img class="portfolioImg" src="images/showtime03.png" alt="BittyCasting" />
                        </div>
                    </div>
                    <div class="divider">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                        <div class="dot3"></div>
                    </div>
                </div>
                <!--end of contentWrapper_portfolio-->
            </div>
        </section>
    </div>
    <div class="" id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="">
                    <div class="col-lg-12">Copyright © Tseng Yu-Chia 2017-2020 jayljill@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="moreinfo" ng-if="tobyShow">123</div>-->
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="js/controllers.js"></script>
<script type="text/ng-template" id="myModalContent1.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="http://running.anta.com/login"><img src="images/viewproject.png" style="width: 200px;"></a>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent2.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent3.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
                <div>
                    <a href="https://cloud.sharpmobile.com.cn/"><img src="images/viewproject.png" style="width: 200px;"></a>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent4.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent5.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
                <div>
                    <a href="https://invis.io/4JD0N66M6#/248217907_Redesign_Mobile_Interfacedesign"><img src="images/viewproject.png" style="width: 200px;"></a>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent6.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
    </div>
</script>

</html>
