<!DOCTYPE html>
<html ng-app='App'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Hello Github Pages</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href="styles/mystyles.css" rel="stylesheet">
</head>

<body ng-controller="FirstCtrl">
    <div class="title-color">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-9 title-left">
                    <a href="index.html">Yu-chia Tseng</a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3 title-menu">
                    <div class="row">
                        MENU
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 title-list">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 title-right">
                            <a href="index.html">PORTFOLIO</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 title-right">
                            <a href="#about">ABOUT</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 title-right">
                            <a href="mailto:jayljill@gmail.com">CONTACT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main" style="padding-top: 0px;">
        <section id="secondSection">
            <div class="container twelve">
                <div class="contentWrapper_portfolio">
                    <img class="portfolioImgOverview" src="images/Zenbolab_main.png" alt="The Hauge Peace App" />
                    <div class="portfolioDes">
                        <div class="column contentLeft responsive-paddingRight20">
                            <div class="contentBox">
                                <div class="contentH3">Overview</div>
                                <p>ZENBO LAB is a educational programming software targeted primarily at children(11-18 years) for STEAM education and it aims at using in schools and after-school centers.
                                    <!-- On of March 2019, we also cooperate with China’s Baidu which is one of the largest AI and internet companies in the world.  -->
                                </p>
                                <p>
                                    Users of the site can learn programming knowledge by creating various movements,faces,speech of Zenbo Junior. As we integrated the hardware(Zenbo Junior) and software that allowed children turning their codes into real effects of light and sound and makes programming visible in the physical world. Also with Google deep learning feature, Zenbo Lab has the power to expose children to AI technologies and let them easily understand the fundamentals of AI through Blockly(an open-source programming language).
                                </p>
                            </div>
                        </div>
                        <!--end of contentLeft-->
                        <div class="column contentRight">
                            <div class="contentBox">
                                <div class="contentH3">Time</div>
                                <p>06/2018-present</p>
                            </div>
                            <div class="contentBox">
                                <div class="contentH3">Role</div>
                                <p>User reseach
                                    <br/>Design concept
                                    <br/>UX flow & wireframe design
                                    <br/>Project management</p>
                            </div>
                            <div class="contentBox">
                                <div class="contentH3">Link</div>
                                <p><a href="https://zenbolab.asus.com/" target="_blank">Zenbo lab</a>
                                    <br/>
                                    <!-- <a href="https://play.google.com/store/apps/details?id=net.sharewire.museon" target="_blank">Android app</a> -->
                                    <!-- <br/> -->
                            </div>
                        </div>
                        <!--end of contentRight-->
                    </div>
                    <!--end of portfolioDes_peaceapp-->
                    <div class="clear"></div>
                    <div class="divider">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                        <div class="dot3"></div>
                    </div>
                </div>
                <!--end of contentWrapper_portfolio-->
                <div class="contentWrapper_portfolio">
                    <div class="contentH3">Design process</div>
                    <p>Zenbo Lab is a big project which involved revised and optimized the website in order to facilitate access for our target users. The first challenge we meet is that we needed to determine what’s the new position of this product as Zenbo Lab was used to be developing for developers but with lower engagement.So,we conducted a UX research — through a competitive product analysis. By understanding how our customers use competitors’ products to identify our current market position or either redefine our position.
                    </p>
                    <p>From the competitive product analysis we found that there is a rising trend of robot education specially in STEAM area. We also find Robot became a learning tool to assist teachers for teaching programing.
                    </p>
                    <p>With our research findings, we decided to take a new position for Zenbo Lab in education and conducted a feedback collection strategy from Stakeholders to improve our website.We then mapped out the user journey, including their thoughts and feelings. From this, we were able to temporally visualize user’s frustrations and create a focal point on the problem space.
                    </p>
                    <div class="marginTop30 marginBottom30">
                        <img class="portfolioImg" src="images/zenbolab_journey.png" alt="The Hauge Peace App" />
                    </div>
                </div>
                <!--end of contentWrapper_portfolio-->
                <div class="contentWrapper_portfolio">
                    <div class="contentH3">Interaction design</div>
                    <p>The whole project consists of three parts:</p>
                    <ul>
                        <li>
                            <p><span>The website:</span>For student and teacher to create their own interactive Robot’s actions by using different blocks.</p>
                        </li>
                        <li>
                            <p><span>The backend website:</span>For teachers to manage a class,they can create student’s account or edit student’s profile.</p>
                        </li>
                        <li>
                            <p><span>The launch player:</span> For end users to run the file on Zenbo.
                            </p>
                        </li>
                    </ul>
                    <div class="contentH3">THE Website</div>
                    <p>The primary requirements of the Zenbo lab website are:</p>
                    <ul>
                        <li>
                            <p><span>Block area :</span>User can grab a different category block to create Zenbo’s movement.</p>
                        </li>
                        <li>
                            <p><span>Connect and simulate a robot:</span>User can test their programs on our 3D simulator or by connecting robot to control their robot.</p>
                        </li>
                        <li>
                            <p><span>Python area :</span> User can view the Python codes behind the blocks with one-click and write codes on the Python editor. 
                            </p>
                        </li>
                    </ul>
                    <div class="marginTop30 marginBottom30">
                        <div class="portfolioImgCaption"><img class="portfolioImg" src="images/Zenbolab01.png" alt="BittyCasting" />
                        </div>
                    </div>
                    <div class="marginTop30 marginBottom30">
                        <div class="portfolioImgCaption"><img class="portfolioImg" src="images/Zenbolab02.png" alt="BittyCasting" />
                        </div>
                    </div>
                    <div class="divider">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                        <div class="dot3"></div>
                    </div>
                </div>
                <!--end of contentWrapper_portfolio-->
            </div>
        </section>
    </div>
    <div class="" id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="">
                    <div class="col-lg-12">Copyright © Tseng Yu-Chia 2017-2023 by AngularJS</div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="moreinfo" ng-if="tobyShow">123</div>-->
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="js/controllers.js"></script>
<script type="text/ng-template" id="myModalContent1.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="http://running.anta.com/login"><img src="images/viewproject.png" style="width: 200px;"></a>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent2.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent3.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
                <div>
                    <a href="https://cloud.sharpmobile.com.cn/"><img src="images/viewproject.png" style="width: 200px;"></a>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent4.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent5.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
                <div>
                    <a href="https://invis.io/4JD0N66M6#/248217907_Redesign_Mobile_Interfacedesign"><img src="images/viewproject.png" style="width: 200px;"></a>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent6.html">
    <div style="">
        <div uib-carousel active="active" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="toby">
                    <img ng-src="{{slide.image}}">
                </div>
            </div>
        </div>
    </div>
</script>

</html>
