.title-color {
    background-color: #ec8da1;
    height: 110px;
    position: fixed;
    /*固定位置定位*/
    top: 0;
    /*距離上方 0 像素*/
    z-index: 1;
    /*重疊時會在其他元素之上*/
    width: 100%;
}

.title-left {
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 110px;
    font-family: 'Permanent Marker', cursive;
}

.title-right {
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 110px;
    font-family: 'Permanent Marker', cursive;
}

.middle-color {
    background-color: #60a59e;
    height: 708px;
    top: 110px;
    position: relative;
    z-index: 0;
    width: 100%;
}

.middle-circle-up {
    top: 90px;
    text-align: center;
}

.middle-circle {
    margin: 0 auto;
    width: 255px;
    height: 255px;
    border-radius: 99em;
    background-color: #ebac85;
}

.middle-first {
    text-align: center;
    top: 120px;
    font-size: 62px;
    font-family: 'Permanent Marker', cursive;
}

.middle-second {
    top: 135px;
}

.middle-img {
    text-align: center;
}

.middle-third {
    text-align: center;
    top: 165px;
    font-size: 28px;
    font-family: 'Permanent Marker', cursive;
}

.portfolio-color {
    background-color: white;
    height: 470px;
    top: 90px;
    position: relative;
    z-index: 0;
    width: 100%;
}

.portfolio-first {
    text-align: center;
    font-size: 62px;
    font-family: 'Permanent Marker', cursive;
}

.portfolio-img {
    text-align: center;
}

.portfolio-font {
    margin-top: 110px;
}

.portfolio-square1 {
    height: 266px;
    background-color: #19A89D;
}

.portfolio-square2 {
    height: 266px;
    background-color: #FEEAB8;
}

.portfolio-square3 {
    height: 266px;
    background-color: #E7F2DE;
}

.portfolio-square4 {
    height: 266px;
    background-color: #D0D2D3;
}

.portfolio-square5 {
    height: 266px;
    background-color: #DCF1F9;
}

.portfolio-square6 {
    height: 266px;
    background-color: #F6AEAB;
}

.search_photo {
    position: relative;
    top: -178px;
    width: 100px;
    height: 100px;
    left: 135px;
    opacity: 0;
    z-index: 2;
}

.search_photo:hover {
    position: relative;
    top: -178px;
    width: 100px;
    height: 100px;
    left: 135px;
    opacity: 0.9;
    z-index: 2;
}

.padding {
    padding: 10px;
}

.height {
    height: 280px;
}

.anta_photo {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 24px;
    left: 106px;
    z-index: 1;
}

.about-color {
    background-color: #60a59e;
    height: 1650px;
    top: 562px;
    position: relative;
    z-index: 2;
    width: 100%;
}

.about-font {
    position: relative;
    top: -385px;
}

.app-modal-window .modal-dialog {
    width: 1366px !important;
}
.about-me{
    text-align: center;
}
.about-font{
    font-size: 0.9em;
}
.about-font1{
    font-size: 22px;
}
.about-right{
   text-align: right; 
}
.about-p{
    border-left: 1px solid #242424;
    margin-bottom: 30px;
    padding-left: 60px;
}